* {
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px ;
}

.title h2{
    border: 3px solid black;
    padding: 4px 20px;
}

hr {
    border: 2px solid black;
}

.navbar ul  {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}


.navbar a {
    color: inherit;
    text-decoration: none;
}


.header {
    display: flex;
    justify-content: center;
    width: 66vw;
    box-sizing: border-box;
    margin: 10px auto 5px;
}

h1 {
    border: 3px solid black;
    padding: 10px 10px 20px;
    font-size: 40.7px;
}

.content1 {
    display: flex;
    justify-content: space-around;
}

.f, .t, .share {
    border: 2px solid black;
    padding: 4px 8px;
    font-weight: bold;
}

.mountain-img img {
    display: flex;
    margin: 20px auto;
    width: 66vw;
}

.content2 {
    display: flex;
    flex-direction: column;
    width: 66vw;
    margin: 10px auto 5px;
}

.content3 {
    display: flex;
    justify-content: center;

}

.one {
    display: flex;
    border: 2px solid black;
    padding: 5px;
    width: 66vw;
    justify-content: space-between;
}

.item1 ul , .item2 ul {
    list-style-type: '- ';
    list-style-position: inside;
}

.content3 a {
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    align-items: center;
}

.footer h2 {
    color: red;
    border: 2px solid black;
}

.footer .info ul {
    display: flex;
    gap: 10px;
    list-style: none;
}
